*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #001012,#005f64, #03f1fd);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.title{
    background: linear-gradient(to right, #001012 0%, #59e6ed 100%, #03fdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10% ;
}
header{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
span{
    background: #00a6af;
    padding: 8px;
    border-radius: 50%;
}
.line{
    width: 40%;
    height: 0;
    border: 1px solid #00a6af;
    margin: 0px 5px;
}
.container{
    width: 60%;
    background-color: #054e52;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.left-form img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    width: 220px;
    height: 300 px;
    clip-path: polygon(0 0, 79% 0, 97% 50%, 75% 100%, 0 100%, 0% 50%);
}
.form-container{
    width: 55%;
    display: flex;
    flex-direction: column;
}
.form-header{
    display: flex;
    justify-content: center;
    margin-left: -350px;
}
.form-header img{
    width: 90px;
    border-radius: 35%;
    margin-left: 280px;
}
.form-group{
    display: flex;
}
.form-group input[type=text]{
    width: 550px;
    margin: 15px;
    padding: 13px; 
    border-radius: 7px; 
    outline-color: aqua; 

}
button{
    background-color: #017a81;
    color: white;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin-left:17px;

}
.right-form{
    border-top-right-radius: 20px;
    width: 20%;
    background-color: #02c4ce;
    text-align: end;
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
}
.right-form img{
    width: 100px;
}